<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="azure-iot-pocs" value="https://msazure.pkgs.visualstudio.com/_packaging/azure-iot-pocs/nuget/v3/index.json" />
    <add key="azure-iot-pnplib" value="https://pkgs.dev.azure.com/azure-iot-pnp/_packaging/azure.iot.pnp.libraries/nuget/v3/index.json" />
  </packageSources>
</configuration>
